
<!doctype html5>
<html dir="rtl" lang="he">

   <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">
		<link href ="/assets/stylez2.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="/client/controllerApi.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
		<script type='text/javascript'>
			var menu =<%-JSON.stringify(data)%>
		</script>
		<script type="text/javascript" src="/client/menuApi.js"></script>
	</head>

	<body >
	<div class ="mybody">
	  <div class="table-div">
	  </div>
	  </div>
	</body>


</html>
